body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
ol,
ul {
  margin: 0;
}

ul,
ol {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

i,
em {
  font-style: normal;
}

button {
  outline: none;
  cursor: pointer;
}

/* 清除浮动 */

.clearfix:before,
.clearfix:after {
  content: "";
  display: block;
}

.clearfix:after {
  clear: both;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #ffffff;
}

/*定义滚动条轨道 内阴影+圆角*/

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

/*定义滑块 内阴影+圆角*/

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #AAAAAA;
}
